.custom-background {
  position: relative;
  /* Necesario para posicionar el pseudo-elemento */
  z-index: 1;
  /* Coloca el contenido por encima del pseudo-elemento */
}

.custom-background::before {
  content: "";
  /* Requerido para los pseudo-elementos */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: blur(3px); */
  /* Aplica el desenfoque */
  /* -webkit-filter: blur(3px); */
  /* Compatibilidad con navegadores antiguos */
  z-index: -1;
  /* Coloca el pseudo-elemento detrás del contenido */
}

.trapezoid {
  position: relative;
  background: white;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  border-top-left-radius: 15px;
  /* Bordes superiores redondeados */
  border-top-right-radius: 15px;
  height: 10px;
  /* Ajusta la altura */
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blurryface {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Máscara degradada desde arriba hacia abajo */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.blurryface-down {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Máscara degradada desde abajo hacia arriba */
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}