.bordecito {
  background: radial-gradient(
        circle at 100% 100%,
        #020202 0,
        #020202 6px,
        transparent 6px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #020202 0, #020202 6px, transparent 6px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #020202 0, #020202 6px, transparent 6px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #020202 0, #020202 6px, transparent 6px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#020202, #020202) 50% 50% / calc(100% - 4px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#020202, #020202) 50% 50% / calc(100% - 16px)
      calc(100% - 4px) no-repeat,
    linear-gradient(0deg, transparent 0%, #f3f3f3 100%);
  border-radius: 10px;
  padding: 6px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .boxProjecto {
    position: absolute;
    bottom: -80px;
    left: 10px;
    width: 80%;
  }
  .boxProjecto1 {
    position: absolute;
    bottom: -80px;
    right: 0px;
    width: 80%;
  }
}
