@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #020202;
  font-family: "Aeonik Pro", sans-serif;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/AeonikPro-Regular.woff2") format("woff2"),
    url("/fonts/AeonikPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/AeonikPro-Bold.woff2") format("woff2"),
    url("/fonts/AeonikPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("/fonts/AeonikPro-Light.woff2") format("woff2"),
    url("/fonts/AeonikPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
/* Barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f100; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
}

/* El control deslizante (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background: #dfdfdf; /* Color del control deslizante */
  border-radius: 10px; /* Bordes redondeados */
}

/* Control deslizante cuando pasa el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color cuando el control deslizante está activo */
}
